.header__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.header__link:hover {
  opacity: 0.4;
}
